body {
  background-color: #ffc107;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
header {
  background-color: #ffc107;
  margin: auto;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #fff;
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;

  font-weight: 200;
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: #ccc;
}

a {
  font-size: large;
  font-weight: bold;
  color: #4c3d26;
  font-family: "Montserrat", sans-serif;
  margin: auto 30px;
  text-decoration: none;
}
a:hover {
  color: #fdf1ca;
}
.note {
  background: #f0eccf;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}

.note h1 {
  font-size: 1.1rem;
  margin-bottom: 6px;
}

.note p {
  font-size: 1.1rem;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.navbar-me {
  margin: 40px auto 40px auto;
  text-align: right;
  margin-right: 100px;
}
.TituloApp {
  float: left;
  margin-right: auto;
  
}


.heading {
  text-align: center;
  font-size: 3em;
  color: #000000;
  margin: 20px 0 30px;
}

.card {
  border-radius: 15px;
  position: relative;
  padding: 25px 15px;
  background-color: #f0eccf;
  margin: 50px 0;
  height: 200px;
  box-shadow: 0 2px 5px #ccc;
  text-align: left;
}

.top {
  border-radius: 15px 15px 0 0;
  height: 100px;
  width: 100%;
  background-color: #ffb100;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
}

.name {
  font-size: 2em;
  color: #1b1e1e;
  display: flex;
  flex: 1;
  margin: 10% 20px 0;
}

.card img {
  margin: 20px 20px 0 0;
}

.circle-img {
  border-radius: 50%;
  border: 7px solid rgb(255, 255, 255);
  width: 80px;
  height: 80px;
}

.bottom {
  margin-top: 100px;
}

.info {
  margin: 20px 0;
  color: #181d1c;
}

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {
  background-color: #ffb100;
} /* Green */
.button2 {
  background-color: #ada07c;
} /* Blue */
